#include <windows.h>
#include "../Include/ImageToolkit.h"

ADN_ICON            ICON    "../Assets/Resources/Arch.ico"

IE_MENU MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&Open Image",                                   IDM_OPEN
        MENUITEM "&Exit Application",                             IDM_EXIT
    END

    POPUP "&Edit"
    BEGIN
        MENUITEM "&Edit Image",                             IDM_EDIT
    END

    POPUP "&Help"
    BEGIN
        MENUITEM "&About",                                  IDM_ABOUT
    END
END

IE_DLG DIALOGEX 390, 30, 400, 140
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_CAPTION | WS_POPUP | WS_SYSMENU | WS_VISIBLE
CAPTION "Image Editor And Color Picker"
FONT 11, "Poppins"
BEGIN
    GROUPBOX "Image Editor",                                ID_GRPBOX_EDITOR,               10, 15, 180, 90
        GROUPBOX "Choose Effect",                           ID_GRPBOX_EFFECTS,              20, 30, 100, 65
            AUTORADIOBUTTON "Desaturation",                 ID_RB_DESAT                     25, 45, 80, 10
            AUTORADIOBUTTON "Sepia",                        ID_RB_SEPIA                     25, 60, 80, 10
            AUTORADIOBUTTON "Color Inversion",              ID_RB_INV                       25, 75, 80, 10

        DEFPUSHBUTTON "Apply Effect",                       ID_APPLY,                       127, 48, 50, 12
        DEFPUSHBUTTON "Reset Image",                        ID_RESET,                       127, 68, 50, 12

    GROUPBOX "Color Picker",                                ID_GRPBOX_PICKER,               210, 15, 180, 90
        LTEXT "Picked Color : ",                                                            -1, 217, 40, 70, 20
        EDITTEXT                                            ID_IMG_R,                       270, 28, 20, 12, WS_DISABLED
        EDITTEXT                                            ID_IMG_G,                       293, 28, 20, 12, WS_DISABLED
        EDITTEXT                                            ID_IMG_B,                       316, 28, 20, 12, WS_DISABLED
        CTEXT "R",                                                                          -1, 277, 42, 5, 8
        CTEXT "G",                                                                          -1, 300, 42, 5, 8
        CTEXT "B",                                                                          -1, 323, 42, 5, 8
        AUTOCHECKBOX "Export Picked Colors",                ID_CHK_PICK_LOG                 225, 50, 100, 20
        AUTOCHECKBOX "Export Normalized Picked Colors",     ID_CHK_PICK_LOG_NL              225, 65, 130, 20

    DEFPUSHBUTTON "About",                                  ID_ABOUT,                       250, 120, 40, 15, WS_GROUP
    DEFPUSHBUTTON "Ok",                                     ID_OK,                          300, 120, 40, 15, WS_GROUP
    DEFPUSHBUTTON "Exit",                                   ID_EXIT,                        350, 120, 40, 15, WS_GROUP
END

ABOUT_DLG DIALOGEX 0, 0, 180, 100
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_CAPTION | WS_POPUP | WS_SYSMENU | DS_CENTER
CAPTION "About Image Editor"
FONT 12, "Poppins"
BEGIN
    ICON ADN_ICON,                                                                          -1, 10, 10, 50, 50
    CTEXT "Image Editor",                                                                   -1, 35, 10, 100, 20
    CTEXT "By",                                                                             -1, 35, 18, 100, 20
    CTEXT "AstroMediComp",                                                                  -1, 35, 26, 100, 20
    LTEXT "Software Version : v1.0",                                                        -1, 45, 42, 100, 20
    LTEXT "Developer : Atharv Natu",                                                        -1, 45, 55, 100, 20
    LTEXT "Email : natuatharv21@gmail.com",                                                 -1, 45, 69, 120, 20
    DEFPUSHBUTTON "Ok",                                     ID_ABT_OK,                          73, 85, 25, 10
END

REGISTER_USER_DLG DIALOGEX 0, 0, 300, 80
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_CAPTION | WS_POPUP | WS_SYSMENU | DS_CENTER
CAPTION "User Registration"
FONT 11, "Poppins"
BEGIN
    LTEXT "User Name : ",                                                                   -1, 10, 25, 100, 20
    EDITTEXT                                                ID_FNAME,                       55, 25, 70, 10
    EDITTEXT                                                ID_MNAME,                       135, 25, 70, 10
    EDITTEXT                                                ID_SNAME,                       215, 25, 70, 10
    CTEXT "First Name",                                     ID_FNAME_LBL,                    -1, 50, 40, 80, 20
    CTEXT "Middle Name",                                                                    -1, 130, 40, 80, 20
    CTEXT "Last Name",                                                                      -1, 210, 40, 80, 20
    DEFPUSHBUTTON "Register",                               ID_REGISTER_BTN,                250, 60, 40, 12
END

