#include <windows.h>
#include "Window.h"

ADN_ICON ICON Arch.ico

IE_MENU MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&Open",           IDM_OPEN
        MENUITEM "&Exit",           IDM_EXIT
    END

    POPUP "&Edit"
    BEGIN
        MENUITEM "&Edit Image",     IDM_EDIT
    END

    POPUP "&Help"
    BEGIN
        MENUITEM "&About",          IDM_ABOUT
    END
END

IE_DLG DIALOGEX 0, 0, 300, 150
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_CAPTION | WS_POPUP | WS_SYSMENU
CAPTION "Image Editor Controls"
FONT 10, "Segoe UI"
BEGIN
    DEFPUSHBUTTON "Ok", IDOK, 140, 115, 25, 10, WS_GROUP
    DEFPUSHBUTTON "Cancel", IDCANCEL, 230, 115, 30, 10, WS_GROUP
END

