#include <windows.h>
#include "Window.h"

ADN_ICON            ICON    "Arch.ico"
ADN_PICKER_CURSOR   CURSOR  "ColorPicker.cur"

IE_MENU MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&Open",                                   IDM_OPEN
        MENUITEM "&Exit",                                   IDM_EXIT
    END

    POPUP "&Edit"
    BEGIN
        MENUITEM "&Edit Image",                             IDM_EDIT
    END

    POPUP "&Help"
    BEGIN
        MENUITEM "&About",                                  IDM_ABOUT
    END
END

IE_DLG DIALOGEX 390, 30, 400, 230
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_CAPTION | WS_POPUP | WS_SYSMENU
CAPTION "Image Editor And Color Picker"
FONT 12, "Tahoma"
BEGIN
    DEFPUSHBUTTON "Register User",                          ID_REGISTER,                    10, 10, 50, 15, WS_GROUP

    GROUPBOX "Image Editor",                                ID_GRPBOX_EDITOR,               10, 35, 370, 100
        AUTORADIOBUTTON "Choose Image Edit Options",        ID_RB_EDIT                      15, 45, 110, 10
        GROUPBOX "Desaturation",                            ID_GRPBOX_DESATURATION,         20, 60, 100, 65
            DEFPUSHBUTTON "Apply Effect",                   ID_DESAT_APPLY,                 40, 80, 50, 12
            DEFPUSHBUTTON "Reset Image",                    ID_DESAT_RST,                   40, 105, 50, 12
    
        GROUPBOX "Sepia",                                   ID_GRPBOX_SEPIA,                135, 60, 100, 65
            DEFPUSHBUTTON "Apply Effect",                   ID_SEPIA_APPLY,                 155, 80, 50, 12
            DEFPUSHBUTTON "Reset Image",                    ID_SEPIA_RST,                   155, 105, 50, 12

        GROUPBOX "Color Inversion",                         ID_GRPBOX_INVERSION,            250, 60, 100, 65
            DEFPUSHBUTTON "Apply Effect",                   ID_INV_APPLY,                   270, 80, 50, 12
            DEFPUSHBUTTON "Reset Image",                    ID_INV_RST,                     270, 105, 50, 12

    GROUPBOX "Color Picker",                                ID_GRPBOX_PICKER,               10, 145, 370, 60
        AUTORADIOBUTTON "Pick Color From Image",            ID_RB_PICK                      15, 155, 110, 10
        LTEXT "Picked Color : ",                                                            -1, 40, 175, 70, 20
        EDITTEXT                                            ID_IMG_R,                       90, 175, 20, 12, WS_DISABLED
        EDITTEXT                                            ID_IMG_G,                       115, 175, 20, 12, WS_DISABLED
        EDITTEXT                                            ID_IMG_B,                       140, 175, 20, 12, WS_DISABLED
        CTEXT "R",                                                                          -1, 100, 190, 5, 8
        CTEXT "G",                                                                          -1, 123, 190, 5, 8
        CTEXT "B",                                                                          -1, 146, 190, 5, 8
        AUTOCHECKBOX "Export Picked Colors",                ID_CHK_PICK_LOG                 230, 160, 100, 20
        AUTOCHECKBOX "Export Normalized Picked Colors",     ID_CHK_PICK_LOG_NL              230, 175, 110, 20

    DEFPUSHBUTTON "About",                                  ID_ABOUT,                       280, 210, 30, 15, WS_GROUP
    DEFPUSHBUTTON "Ok",                                     ID_OK,                          320, 210, 30, 15, WS_GROUP
    DEFPUSHBUTTON "Exit",                                   ID_EXIT,                        360, 210, 30, 15, WS_GROUP
END

ABOUT_DLG DIALOGEX 0, 0, 150, 110
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_CAPTION | WS_POPUP | WS_SYSMENU | DS_CENTER
CAPTION "About Image Editor"
FONT 12, "Tahoma"
BEGIN
    ICON ADN_ICON,                                                                          -1, 10, 10, 30, 30
    CTEXT "Image Editor",                                                                   -1, 25, 10, 100, 20
    LTEXT "Software Version : v1.0",                                                        -1, 35, 28, 100, 20
    LTEXT "Developer : Atharv Natu",                                                        -1, 35, 43, 100, 20
    LTEXT "Email : natuatharv21@gmail.com",                                                 -1, 35, 58, 120, 20
    CTEXT "AstroMediComp",                                                                  -1, 25, 75, 100, 20
    DEFPUSHBUTTON "Ok",                                     ID_ABT_OK,                          67, 92, 20, 10
END

REGISTER_USER_DLG DIALOGEX 0, 0, 300, 80
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_CAPTION | WS_POPUP | WS_SYSMENU | DS_CENTER
CAPTION "User Registration"
FONT 12, "Tahoma"
BEGIN
    LTEXT "User Name : ",                                                                   -1, 10, 25, 100, 20
    EDITTEXT                                                ID_FNAME,                       55, 25, 70, 12
    EDITTEXT                                                ID_MNAME,                       135, 25, 70, 12
    EDITTEXT                                                ID_SNAME,                       215, 25, 70, 12
    CTEXT "First Name",                                                                     -1, 50, 40, 80, 20
    CTEXT "Middle Name",                                                                    -1, 130, 40, 80, 20
    CTEXT "Last Name",                                                                      -1, 210, 40, 80, 20
    DEFPUSHBUTTON "Register",                               ID_REGISTER_BTN,                260, 60, 30, 12
END

